.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  gap: 80px;
  padding-bottom: 5rem;
  align-items: center;
  justify-content: center;
}

.paginado {
  background-color: transparent;
  border: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 15rem;
  font-size: 2.2rem;
  cursor: pointer;
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 9.5rem;
  &:hover {
    transition: all 0.75s ease;
    transform: scale(1.2);
  }
}
