.navbar {
  position: sticky;
  top: 0;
  align-self: flex-start;
  list-style: none;
  width: 15%;

  &__item {
    background: #000;
    color: #575757;
    height: 5rem;
    width: 8rem;
    border-bottom: 1px solid #060606;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: -2rem 1.5rem 0 #e1e1e1;
    transition: all 0.25s linear;

    &:hover {
      background: #ff6e42;
      color: #fffcfb;
      transform: translate(0.9em, -0.9em);
      transition: all 0.25s linear;
      box-shadow: -2rem 2rem 0 #e1e1e1;

      &:before,
      &:after {
        transition: all 0.25s linear;
      }

      &:before {
        background: #b65234;
        width: 1rem;
        top: 0.5rem;
        left: -1rem;
      }

      &:after {
        background: #b65234;
        width: 1rem;
        bottom: -4.5rem;
        left: 3rem;
        height: 8rem;
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      transition: all 0.25s linear;
      width: 0.5rem;
    }

    &:after {
      height: 8rem;
      background: #181818;
      bottom: -4.3rem;
      left: 3.43rem;
      transform: rotate(90deg) skew(0, 45deg);
    }

    &:before {
      height: 5rem;
      background: #121212;
      top: 0.25rem;
      left: -0.5rem;
      transform: skewY(-45deg);
    }
  }
}
