$green-ligth: #1ab188;

.profileLogged {
  display: flex;
  height: 33.4rem;

  &__left {
    padding: 4rem 0rem;
    width: 30%;
    height: 100%;
    background-color: #13232f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    &--icon {
      font-size: 5rem;
      color: $green-ligth;
    }

    &--user {
      color: white;
      font-size: 1.7rem;
      margin-top: -2rem;
    }

    &--data {
      align-self: flex-start;
      margin-left: 10%;
      display: flex;
      justify-content: space-between;
      width: 25rem;
      & > input {
        border: none;
        background-color: transparent;
        border-bottom: 1.5px solid white;
        font-size: 1rem;
        outline: none;
        width: 10rem;
        height: 1.7rem;
        color: white;
        text-align: center;
      }

      & > label {
        color: $green-ligth;
        font-size: 1.5rem;
      }
    }

    &--btn {
      & > button {
        box-shadow: inset 0px 1px 0px 0px #f29c93;
        background: linear-gradient(to bottom, #8a5852 5%, #ff0000 100%);
        border-radius: 6px;
        border: 1px solid #d83526;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #b23e35;
        width: 10rem;
        margin-top: 1rem;

        &:hover {
          background: linear-gradient(to bottom, #9b3131 5%, #ff1900 100%);
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }

  &__right {
    width: 70%;
    height: 100%;
  }
}
