.logo {
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  padding: 50px 0;

  &__title {
    font-family: Helvetica, Geneva, sans-serif;
    &:focus {
      outline: none;
    }
    & span {
      vertical-align: middle;
      line-height: 1.5rem;
      transition: font-size 2s cubic-bezier(0, 1, 0, 1);
    }
    & span:active {
      font-size: 1rem;
      text-shadow: none;
    }
  }

  &__stars {
    & > span {
      display: inline-block;
      transform: scale(1);
      transition: transform 2s cubic-bezier(0, 1, 0, 1);
      animation: stars-animation 2s 50 ease-in-out;

      &:active {
        text-shadow: none;
      }
      &:nth-child(1),
      &:nth-child(5) {
        font-size: 0.3em;
        animation-delay: 0.2s;
      }
      &:nth-child(2),
      &:nth-child(4) {
        font-size: 0.5em;
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        font-size: 0.8em;
        animation-delay: 0s;
      }
    }

    &:hover span {
      animation: none;
    }
  }
}
span {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
  letter-spacing: 0.08em;
}

p {
  margin: 0;
}

@keyframes stars-animation {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
