.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80rem;
  font-size: 1.5rem;
  margin-right: 5rem;

  &__text {
    position: absolute;
    left: 0;
    font-size: 1.7rem;
    margin-left: 15rem;
    font-style: italic;
  }

  &__input {
    margin-left: 3rem;
    outline: none;
    height: 1.5rem;
  }
}
